version: "3"
services:
  go:
    build:
      context: ./serv/go
      args:
        CONFIG_NACOS_HOST: ${CONFIG_NACOS_HOST}
        CONFIG_NACOS_USERNAME: ${CONFIG_NACOS_USERNAME}
        CONFIG_NACOS_PASSWD: ${CONFIG_NACOS_PASSWD}
        CONFIG_NACOS_LOGDIR: ${CONFIG_NACOS_LOGDIR}
        CONFIG_NACOS_CACHEDIR: ${CONFIG_NACOS_CACHEDIR}
        CONFIG_NACOS_GROUP: ${CONFIG_NACOS_GROUP}
    container_name: go
    volumes:
      - ${GO_DIR}:/go/src:rw
      - ${GO_BIN}:/go/bin:rw
      - GO_PKG:/go/pkg/mod:rw
      - GO_CACHE:/root/.cache/go-build:rw
    ports:
      - "30099:30099"
    privileged: true
    stdin_open: true
    tty: true
  netdata:
    image: netdata/netdata
    container_name: netdata
    ports:
      - 19999:19999
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/portainer:/data
    ports:
      - 9009:9000



  mysql5:
    image: mysql/mysql-server:${MYSQL5_VERSION}
    container_name: mysql5
    ports:
      - "${MYSQL5_HOST_PORT}:3306"
    volumes:
      - ${MYSQL5_CONF_FILE}:/etc/mysql/conf.d/mysql.cnf:ro
      - mysql5f:/var/lib/mysql/:rw
      - ${MYSQL5_LOG_DIR}:/var/log/mysql/:rw
    restart: always
    networks:
      - default
    environment:
      MYSQL_ROOT_PASSWORD: "${MYSQL5_ROOT_PASSWORD}"
      MYSQL_ROOT_HOST: "${MYSQL5_ROOT_HOST}"
      TZ: "$TZ"

  beanstalkd:
    container_name: beanstalkd
    build:
      context: ./serv/beanstalkd
      dockerfile: Dockerfile
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - "./data/beanstalkd:/data/beanstalkd"
    ports:
      - "7771:11300"

  beanstalkd2:
    container_name: beanstalkd2
    build:
      context: ./serv/beanstalkd
      dockerfile: Dockerfile
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - "./data/beanstalkd2:/data/beanstalkd"
    ports:
      - "7772:11300"

  beanstalkd-console:
    container_name: beanstalkd-console
    build:
      context: ./serv/beanstalkd-console
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    environment:
      - TZ=Asia/Shanghai
      - AUTH=enable
      - AUTH_USERNAME=admin
      - AUTH_PASSWORD=nosmoking
      - BEANSTALKD_PORT_11300_TCP_ADDR=beanstalkd
    ports:
      - "2080:2080"
    depends_on:
      - beanstalkd

  redis:
    image: redis:${REDIS_VERSION}
    container_name: redis
    ports:
      - "${REDIS_HOST_PORT}:6379"
    volumes:
      - ${REDIS_CONF_FILE}:/etc/redis.conf:ro
      - ${DATA_DIR}/redis:/data/:rw
    restart: always
    entrypoint: [ "redis-server", "/etc/redis.conf" ]
    environment:
      TZ: "$TZ"
    networks:
      - default

volumes:
  mysql5f:
  GO_PKG:
  GO_CACHE: